<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Your Students</title>
    </head>
    <body>
        <head>
            <nav>

            </nav>
        </head>
        <main>
            <h1>Your Students</h1>
            <table>
                <colgroup span="4"></colgroup>
                <tr>
                    <td>
                        Cordelia Harmon
                    </td>
                    <td>
                        Cambridge University
                    </td>
                    <td>
                        Phase 2
                    </td>
                    <td>
                        Go
                    </td>
                </tr>

                <tr>
                    <td>
                        Lottie Munoz
                    </td>
                    <td>
                        Cambridge University
                    </td>
                    <td>
                        Phase 2
                    </td>
                    <td>
                        Go
                    </td>
                </tr>

                <tr>
                    <td>
                        Bettie Rodriguez
                    </td>
                    <td>
                        Cambridge University
                    </td>
                    <td>
                        Phase 2
                    </td>
                    <td>
                        Go
                    </td>
                </tr>

                <tr>
                    <td>
                        Mittie Barber
                    </td>
                    <td>
                        Cambridge University
                    </td>
                    <td>
                        Phase 2
                    </td>
                    <td>
                        Go
                    </td>
                </tr>

                <tr>
                    <td>
                        Steve Barber
                    </td>
                    <td>
                        Cambridge University
                    </td>
                    <td>
                        Phase 2
                    </td>
                    <td>
                        Go
                    </td>
                </tr>
            </table>
        </main>
    </body>
</html>
